@import '../node_modules/@aurodesignsystem/design-tokens/dist/alaska/SCSSVariables--alaska';

:host {
  --ds-auro-alert-border-color: var(--ds-basic-color-status-default, #{$ds-basic-color-status-default});
  --ds-auro-alert-container-color: var(--ds-basic-color-surface-default, #{$ds-basic-color-surface-default});
  --ds-auro-alert-icon-color: transparent;
  --ds-auro-alert-text-color: var(--ds-basic-color-texticon-default, #{$ds-basic-color-texticon-default});
}
